# 日志文件
nacos/logs/*.log
nacos/logs/*.log.*

# 编译产物
frontend/dist/
frontend/unpackage/

# IDE
.vscode/
.idea/
*.iml

# Node
node_modules/

# Maven
backend/target/

# 配置文件（避免提交私有配置）
project.private.config.json
frontend/project.private.config.json
